{
  "extends": ["@logux/eslint-config/ts"],
  "globals": {
    "__VUEPRESS_SSR__": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "extraFileExtensions": [".vue"],
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          ["type"],
          ["builtin", "external"],
          ["internal"],
          ["parent", "sibling", "index"]
        ],
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "internal"
          }
        ],
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-irregular-whitespace": "off",
    "import/extensions": "off",
    "consistent-return": "off"
  },
  "overrides": [
    {
      "files": ["**/*.vue"],
      "extends": ["@logux/eslint-config/ts", "plugin:vue/recommended"],
      "plugins": ["import", "vue"],
      "rules": {
        "import/order": [
          "error",
          {
            "groups": [
              ["type"],
              ["builtin", "external"],
              ["internal"],
              ["parent", "sibling", "index"]
            ],
            "pathGroups": [
              {
                "pattern": "~/**",
                "group": "internal"
              }
            ],
            "newlines-between": "always"
          }
        ],
        "vue/singleline-html-element-content-newline": "off",
        "vue/multi-word-component-names": "off",
        "vue/no-multiple-template-root": "off",
        "vue/max-attributes-per-line": "off",
        "vue/require-default-prop": "off",
        "vue/html-self-closing": "off",
        "vue/html-indent": "off"
      }
    }
  ]
}
