{
  "files": ["**/*.pcss", "**/*.css"],
  "extends": "@logux/stylelint-config",
  "ignoreFiles": ["dist/**/*"],
  "overrides": [
    {
      "files": ["**/*.vue"],
      "extends": ["stylelint-config-html/vue", "@logux/stylelint-config"]
    }
  ]
}
