::selection {
  color: var(--color-content-inverted);
  background-color: oklch(83% 0.15 83 / 99%);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Stem, sans-serif;
  scroll-behavior: smooth;
}

html.no-scroll {
  scroll-behavior: initial;
}

body {
  min-inline-size: 320px;
  margin: 0;
  font: var(--font-m);
  color: var(--color-content-primary);
  letter-spacing: 0.5px;
  background: var(--color-background-primary);
}

button {
  appearance: button;
}

button,
input,
select,
optgroup,
textarea {
  font: inherit;
}

a,
select:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

h1 {
  font: var(--font-2xl);
  color: var(--color-content-brand);
}

h2 {
  margin-block-start: var(--space-xl);
  font: var(--font-xl);
}

h3 {
  font: var(--font-l);
  font-weight: 700;
}

h1:focus-visible,
h2:focus-visible,
h3:focus-visible,
h4:focus-visible,
h5:focus-visible,
h6:focus-visible {
  outline: none;
}

a {
  padding-inline: 2px;
  color: var(--color-content-brand);
  text-decoration: none;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 200ms;
}

a:focus-visible {
  background: var(--color-background-overlay);
  box-shadow: 0 0 0 2px var(--color-border-brand);
}

a:hover {
  text-decoration: none;
  background: var(--color-background-overlay);
  transition: background 200ms;
}

ul,
ol {
  padding-inline-start: 24px;
}

ul li,
ol li {
  margin-block: var(--space-xs);
}

img {
  max-inline-size: 100%;
}

img[alt$='>'] {
  float: right;
  margin-block-end: var(--space-m);
  margin-inline-start: var(--space-m);
}

img[alt$='<'] {
  float: left;
  margin-block-end: var(--space-m);
  margin-inline-end: var(--space-m);
}

#app {
  min-block-size: 100vb;
}

.header-anchor {
  float: left;
  margin-inline-start: -0.87em;
  opacity: 0;
  transition: opacity 0.3s;
}

.header-anchor:focus-visible,
h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor {
  opacity: 1;
}

.header-anchor:hover:not(.header-anchor:focus-visible) {
  background: inherit;
}

pre,
code {
  overflow: auto;
  font-family: 'Martian Mono', monospace;
  font-size: clamp(0.6875rem, 0.6458rem + 0.1389vi, 0.8125rem);
  line-height: 1.85;
  background: var(--color-background-secondary) !important;
}

pre {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding: var(--space-s);
  border: 1px solid var(--color-border-primary);
  border-radius: 8px;
  outline-color: var(--color-border-brand);
}

p {
  margin-block: var(--space-m);
}

:not(pre) > code {
  padding: var(--space-xs) var(--space-2xs);
  font: var(--font-xs);
  font-family: 'Martian Mono', monospace;
  color: var(--color-content-secondary);
  background: var(--color-background-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 8px;
}
