:root {
  --icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='rgba(198,191,154,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M19.4 20H9.6a.6.6 0 0 1-.6-.6V9.6a.6.6 0 0 1 .6-.6h9.8a.6.6 0 0 1 .6.6v9.8a.6.6 0 0 1-.6.6Z'/%3E%3Cpath d='M15 9V4.6a.6.6 0 0 0-.6-.6H4.6a.6.6 0 0 0-.6.6v9.8a.6.6 0 0 0 .6.6H9'/%3E%3C/g%3E%3C/svg%3E%0A");
  --icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='rgba(246,189,64,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m5 13l4 4L19 7'/%3E%3C/svg%3E%0A");
}

[class*='language-'] {
  position: relative;
  overflow-inline: auto;
}

[class*='language-'] .copy {
  position: absolute;
  inset: var(--space-s) var(--space-s) auto auto;
  z-index: 3;
  display: block;
  align-items: center;
  justify-content: center;
  inline-size: 40px;
  block-size: 40px;
  cursor: pointer;
  background-color: var(--color-background-primary);
  background-image: var(--icon-copy);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  opacity: 0;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}

[class*='language-']:hover .copy,
[class*='language-'] .copy:focus-visible {
  opacity: 1;
}

[class*='language-'] > button.copy.copied,
[class*='language-'] > button.copy:hover.copied {
  background-image: var(--icon-copied);
  border-color: var(--color-border-brand-transparent);
}

[class*='language-'] .copy:focus-visible {
  background-color: var(--color-background-overlay);
  box-shadow: 0 0 0 2px var(--color-border-brand);
}

[class*='language-'] > span.lang {
  position: absolute;
  inset: var(--space-s) var(--space-s) auto auto;
  z-index: 2;
  font: var(--font-xs);
  color: var(--color-content-tertiary);
  transition: color 0.4s, opacity 0.4s;
}

[class*='language-']:hover > button.copy + span.lang,
[class*='language-'] > button.copy:focus-visible + span.lang {
  opacity: 0;
}
