:root {
  color-scheme: dark;

  /* Background */
  --color-background-brand: oklch(83% 0.15 83);
  --color-background-brand-hover: oklch(79% 0.15 83);
  --color-background-primary: oklch(22% 0 0);
  --color-background-secondary: oklch(21% 0 0);
  --color-background-overlay: oklch(83% 0.15 83 / 0.2);
  --color-background-inverted: oklch(98% 0.05 97.5);
  --color-background-inverted-hover: oklch(92% 0.05 97.5);

  /* Content */
  --color-content-brand: oklch(83% 0.15 83);
  --color-content-primary: oklch(98% 0.05 97.5);
  --color-content-secondary: oklch(92% 0.05 97.5);
  --color-content-tertiary: oklch(80% 0.05 97.5);
  --color-content-inverted: oklch(22% 0 0);

  /* Border */
  --color-border-brand: oklch(83% 0.15 83);
  --color-border-brand-transparent: oklch(83% 0.15 83 / 0.3);
  --color-border-primary: oklch(24% 0 0);
  --color-border-secondary: oklch(28% 0 0);
}
