@font-face {
  font-family: Stem;
  font-weight: 400;
  src: url('/fonts/stem-regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: Stem;
  font-weight: 700;
  src: url('/fonts/stem-bold.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Martian Mono';
  src: url('/fonts/martian-mono.woff2');
  font-display: swap;
}

:root {
  --font-size-xxxxxl: clamp(2.5rem, 1.3rem + 4vw, 4.5rem);
  --line-height-xxxxxl: 1;
  --font-size-xxxxl: clamp(1rem, 0.475rem + 1.75vw, 1.875rem);
  --line-height-xxxxl: 1;
  --font-size-xxxl: clamp(1.875rem, 1.65rem + 0.75vw, 2.25rem);
  --line-height-xxxl: clamp(2.25rem, 2.1rem + 0.5vw, 2.5rem);
  --font-size-xxl: clamp(1.5rem, 1.275rem + 0.75vw, 1.875rem);
  --line-height-xxl: clamp(2rem, 1.85rem + 0.5vw, 2.25rem);
  --font-size-xl: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  --line-height-xl: clamp(1.75rem, 1.6rem + 0.5vw, 2rem);
  --font-size-l: clamp(1.125rem, 1.05rem + 0.25vw, 1.25rem);
  --line-height-l: 1.75rem;
  --font-size-m: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
  --line-height-m: clamp(1.625rem, 1.55rem + 0.25vw, 1.75rem);
  --font-size-s: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
  --line-height-s: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  --font-size-xs: clamp(0.75rem, 0.675rem + 0.25vw, 0.875rem);
  --line-height-xs: clamp(1rem, 0.85rem + 0.5vw, 1.25rem);
  --font-size-xxs: 0.75rem;
  --line-height-xxs: 1rem;
}
